body {
    color: #333;
  }
  
  header {
    background: #40bcd9;
    font-weight: bold;
    color: white;
    padding: 7px 20px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  h1 {
    font-weight: 800;
  }
  
  main {
    width: 800px;
    margin: 0 auto;
  }
  
  button {
    margin: 5px;
    color: #333;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #display {
    border: 1px solid #333;
    height: 340px;
    padding: 5px;
    background: #dfe3e6;
    margin-bottom: 10px;
  }
  
  
  .task-color {
    color: #333;
    padding: 10px;
    margin: 5px;
    float: left;
    width: 380px;
    background: white;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    border-radius: 3px;
  }
  
  #clear {
    background: #40bcd9;
    padding: 5px 20px;
    color: white;
    font-size: 1.2em;
  }